[user]
	name = Kaiguang Li
	email = 33639861+Kaiguang@users.noreply.github.com
[alias]
	b = branch
	ba = branch --all
	c = commit
	ch = checkout
	l = log --all --graph --oneline
	# Log with author and date
	la = log --all --graph --date=local --pretty=format:'%C(dim yellow)%h%C(reset) %C(blue)%ad%C(reset) %C(green)%an%C(reset)%C(bold red)%d%C(reset) %s'
	p = pull --prune
	s = status --untracked-files
	su = submodule update --remote --merge
	sp = submodule foreach 'git ch master && git p'
[pull]
	ff = only
[core]
	editor = nvim
